{
	"parser": "babel-eslint",
	"extends": [
		"airbnb"
	],
	"plugins": [
		"react"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jquery": true,
		"mocha": true
	},
	"rules": {
		"no-tabs": "off",
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx"
				]
			}
		],
		"react/jsx-indent": [
			2,
			"tab"
		]
	}
}
